html {	
    overflow-y: hidden!important;
	min-width: auto!important;
}

.minimized {
	user-select: none;
}

body {
    width: 100%;
    max-width: 539px;
    margin: 0 auto;
    line-height: 0;
}

p {
    line-height: 23px;
}

#gameLayer .title {
    font-family: 'DM Serif Display', serif;
    color: #003722!important;
    font-weight: 300;
}

.slideshow-block {
    overflow: hidden;
    width: 100%;
    height: 227px;
    margin: 15px auto 10px;
}

.slideshow-animation {
    width: auto;
    height: 100px;
    font-size: 0px;
}

.slideshow-animation div {
    display: inline-block;
    width: auto;
    float: none;
    padding: 0 20px;
}

#container {
    margin: 0 auto;
    position: relative;
}

#mainVerdantTitle {
    display: block;
    text-align: center;
    margin: 10px 0px 8px;
}

#mainVerdantTitle img {
    width: 240px;
    margin-bottom: 0px;
    margin-left: 13px;
}

#setupLayer .subtitle {
    font-style: italic;
    text-align: center;
    width: 440px;
    margin: 11px auto 15px;
    font-size: 16px;
    line-height: 22px;
}

#homepageButtonContainer {
    margin: 20px auto 27px;
    width: 320px;
}

#homepageButtonContainer .button {
    display: block;
    margin: 0px 10px;
    width: 140px;
}

#setupLayer {
    display: block;
}

.layer {
    display: none;
    position: absolute;
    top: 89px;
    width: 100%;
}

#demoDisclaimer {
    width: 93%;
    margin: 0px auto 0px;
}

#demoDisclaimer .message-body p {
    margin-bottom: 13px;
}

#backToStart {
    width: 120px;
    margin: 0 auto;
    display: block;
}

#gameLayer #topInfoBar {
    display: none;
    width: 400px;
    border: 1px solid #BBB;
    margin: 10px auto 5px;
    padding: 5px 0px;
    border-radius: 9px;
}

#gameLayer #topInfoBar .infoBarColumn {
    width: 174px;
    margin: 2px 0px;
}

#gameLayer #topInfoBar .infoBarColumn.leftColumn {
    float:left;
    text-align: right;
}

#gameLayer #topInfoBar .infoBarColumn.rightColumn {
    float:right;
    text-align:left;
}

#gameLayer #topInfoBar .infoBarColumn .infoSpan {
    font-weight: bold;
}

#gameLayer #gameSectionsParent {
    position: relative;
    margin: 0 auto;
    width: 95%;
}

#gameLayer #gameSectionsParent .gameSection {
    position:absolute;
    width: 100%;
    height: 530px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent .gameSection.initSetup {
    overflow:hidden;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBorder {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBorder.outerBorder {
    border: 1px solid #41a742;
    padding: 1px;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBorder.innerBorder {
    border: 2px solid #41a742;
    position: relative;
    overflow: hidden;
}

#gameLayer #gameSectionsParent .gameSection .bgOverlay {
    opacity: .2;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    z-index: -8;
    position: absolute;
    background-color: #bcffc4;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBg {
    opacity: 0.6;
    position: absolute;
    top: -2%;
    left: -2%;
    width: 104%;
    max-width: 104%;
    z-index: -9;
    border-radius: 10px;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionContent {
    position: relative;
    padding-top: 9px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent {
    padding-top: 0px;
}

#gameSectionsParent .gameSection.expanded .inactive {
    display:none;
}

#gameSectionsParent .gameSection.minimized .inactive {
    background-color: #0f0f0ffa;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all .7s ease-in-out;
}

#gameSectionsParent .gameSection.minimized:not(.initSetup):hover .inactive {
    cursor: hand;
    cursor: pointer;
    opacity: 0.5;
}

#gameLayer #gameSectionsParent .gameSection.minimized .inactive ion-icon[name="expand"] {
    font-weight: bold;
    position: absolute;
    color: #FFF;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#gameLayer #gameSectionsParent #marketSection.minimized .inactive ion-icon[name="expand"] {
    font-size: 65px;
    top: 71px;
    left: 224px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .inactive ion-icon[name="expand"] {
    font-size: 65px;
    top: 85px;
    left: 224px;
}

#gameLayer #gameSectionsParent .gameSection.minimized:not(.initSetup):hover .inactive ion-icon[name="expand"] {
    opacity: 1;
}

#gameLayer #gameSectionsParent #marketSection {
    top: 10px;
}

#gameLayer #gameSectionsParent #marketSection.minimized {
    height: 216px;
}

#gameLayer #gameSectionsParent #marketSection.minimized,
#gameLayer #gameSectionsParent #marketSection.expandAnimation {
    overflow: hidden;
}

#gameLayer #gameSectionsParent #tableauSection.expanded {
    transform: scale(1);
    top: 233px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized {
    transform: scale(1);
    top: 548px;
    z-index: -1;
    height: 243px;
    width: 100%;
}

.titleContainer {
    opacity: 1;
    height: 33px;
    border-bottom: 1px solid #003823;
    transition: all .7s ease-in-out;
    overflow: hidden;
}

#marketSection.gameSection.minimized #marketTitleContainer.titleContainer,
#tableauSection.gameSection.minimized #playerTableauTitleContainer.titleContainer {
    height: 0px;
    opacity: 0;
    margin-bottom: 0px;
}

.titleContainer > p.title {
    font-size: 25px;
    border-bottom: 2px solid #003823;
}

#marketSection #marketTitleContainer.titleContainer {
    width: 90px;
    margin: 0px auto 17px;
}

#tableauSection #playerTableauTitleContainer.titleContainer {
    width: 80px;
    margin: 0px auto 13px;
}

#marketSection #marketCardColumns { 
    padding: 0px 20px;
}

#marketSection #marketCardColumns .marketColumn {
    width: 105px;
    float: left;
    margin: 0px 0px 0px 12px;
}

#marketSection #marketCardColumns .plantPotContainer {
    width: 55px;
    height: 49px;
    margin: 0px auto 0px;
    display: block;
    position: relative;
    left: 0px;
    opacity: 1;
    transition: left 1s ease-in-out, width .7s ease-in-out, height .7s ease-in-out, opacity .7s ease-in-out;
}

#marketSection #marketCardColumns .plantPotContainer.startingPos {
    left: -500px;
}

#marketSection.minimized #marketCardColumns .plantPotContainer {
    height: 0px;
    opacity: 0;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer {
    transform: scale(1);
    position:unset;
    z-index: 0;
    cursor:hand;
    cursor:pointer;
    top:0px;
    transition: transform .2s ease-in-out, top .2s ease-in-out, opacity .2s ease-in-out;
    opacity: 1;
}

/* #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer > * {
    box-shadow: 0px 0px 0px #FFF;
    transition: all .2s ease-in-out;
    opacity: 1;
}

#marketSection #marketCardColumns .marketColumn.activeColumn .cardsAndItemContainer > *  {
    box-shadow: 0px 5px 5px rgb(122, 122, 122);
} */

#marketSection #marketCardColumns .marketColumn.activeColumn .cardsAndItemContainer {
    transform: scale(1.3);
    top: -43px;
    position: relative;
    z-index: 2;
}

#marketSection #marketCardColumns .marketColumn.deactivedColumn .cardsAndItemContainer {
    transform: scale(1);
    top:0px;
    position: relative;
    z-index: 2;
}

#marketSection #marketCardColumns.activeColumnView .marketColumn:not(.activeColumn) .cardsAndItemContainer {
    opacity: .5;
}

#marketSection #marketCardColumns .marketColumn:first-child {
    margin: 0px 0px 0px 0px;
}

.cardContainer,
.backOfCardContainer {
    position: relative;
    height: 164px;
    overflow: hidden;
}

.cardContainer {
    background-color: #f7efda;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .backOfCardContainer {
    left: 0px;
    transition: left 1s ease-in-out;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"],
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] {
    transition: height .7s ease-in-out;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"],
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant .backOfCardContainer,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"],
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room .backOfCardContainer {
    height: 164px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] {
    height: 60px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] {
    height: 70px;
}

.cardContainer[type="plant"] .plant {
    opacity: 1;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plant {
    opacity: .15;
}

.cardContainer[type="room"] .room,
.flip-room .roomBack {
    top: 0px;
    left: 0px;
    position: absolute;
}

.cardContainer[type="plant"] .lightingIcon {
    position: absolute;
    top: 2.5px;
    width: 11.5px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .lightingIcon {
    width: 18px;
}

.cardContainer[type="plant"] .plantBanner {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 19px;
    height: 36px;
    z-index: 0;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantBanner {
    left: 3px;
    width: 28px;
    height: 57.5px;
}

.cardContainer[type="plant"] .plantSymbol {
    position: absolute;
    top: 6.5px;
    left: 7.5px;
    width: 14.5px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantSymbol {
    top: 14px;
    width: 22px;
    left: 6px;
}

.cardContainer[type="plant"] .plantVerdancy {
    position: absolute;
    top: 3px;
    right: 6px;
    width: 18px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVerdancy {
    top: 3.5px;
    right: 1px;
    width: 25px;
}

.cardContainer[type="plant"] .plantVPs {
    position: absolute;
    top: 21px;
    right: 3px;
    width: 15px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVPs {
    top: 32px;
    width: 25px;
    right: 2px;
}

.cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
    left: 48px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
    left: 46px;
    top: 19px;
}

.cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
    left: 41.5px;
}

.cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
    left: 53.5px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
    left: 46px;
    top: 10px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
    left: 46px;
    top: 29px;
}

.cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
    left: 35px;
}

.cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
    left: 47px;
}

.cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
    left: 59px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
    left: 46px;
    top: 2.5px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
    left: 46px;
    top: 21.5px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
    left: 46px;
    top: 39.5px;
}

#marketSection #marketCardColumns .marketColumn .itemToken {
    width: 46px;
    margin: 9.5px auto 7.5px;
    position:relative;
    left: 0px;
    display: block;
    transition: left 1s ease-in-out, width .7s ease-in-out, margin .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .itemToken {
    width: 39px;
}

#marketSection #marketCardColumns .marketColumn .itemToken.startingPos {
    left: -500px;
}

.cardContainer[type="room"] .lightingIconContainer {
    position: absolute;
    width: 23.5px;
    height: 23.5px;
    background-color: transparent;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer {
    background-color: #f7efda;
}

.cardContainer[type="room"] .lightingIconContainer .lightingIcon {
    width: 15.7px;
    margin: 3.3px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer .lightingIcon {
    width: 17px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
    top: -2px;
    left: 41px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
    top: 0px;
    left: 41px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
    margin-top: 4.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 3px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
    margin-top: 3px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
    margin-top: 4.3px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
    top: 71.2px;
    left: 85px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
    top: 26px;
    left: 82px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] .lightingIcon {
    margin-top: 3.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 3.3px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
    bottom: -2px;
    left: 40.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
    bottom: -2px;
    left: 40.5px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
    margin-top: 2.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 4px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
    top: 71.2px;
    left: -3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] .lightingIcon {
    margin-top: 3.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 3.3px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
    top: 25.2px;
    left: 0px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card.flip-back.flip-plant {
    position:relative;
    left: 0px;
    transition: left 1s ease-in-out;
}

.flip-card.flip-back.flip-plant.startingPos {
    left: -500px;
}

.flip-card.flip-back.flip-room {
    position:relative;
    left: 0px;
    transition: left 1s ease-in-out;
}

.flip-card.flip-back.flip-room.startingPos {
    left: -500px;
}

.flip-card {
    display:block;
    background-color: transparent;
    height: 164px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 0 auto;
    overflow: hidden;
}

.cardContainer,
.flip-card {
    border-radius: 6px;
    overflow: hidden;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    overflow: visible !important;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    box-shadow: 0px 0px 10px #AAA;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    z-index: 0;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg) translate3d(0, 0, 1px);
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 1px);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 1px);
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#homeContentContainer {
    width: 99%;
    height: 463px;
    margin: 0 auto;
    position: relative;
    transition: all .7s ease-in-out;
}

#homeContentContainer #playerInfoContainer {
    width: 135px;
    height: 460px;
    overflow: hidden;
    float: left;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer {
    width: 160px;
    height: 233px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer .playerInfoTitle {
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
    height: 20px;
    margin: 0px 0px 6px 0px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace .playerInfoTitle {
    height: 24px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer .playerInfoTitle {
    height: 0px!important;
    margin: 0px 0px 0px 0px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn {
    position: absolute;
    top: 307px;
    left: 27px;
    height: 42px;
    overflow: hidden;
    font-size: 14px;
    line-height: 15px;
    padding: 0px 1px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn {
    height: 0px;
    margin: 0px 0px 0px 0px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn .swapItemsArrow {
    font-size: 26px;
    font-weight: bold;
    margin: 2px 1px 2px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn #swapItemsArrowOne {
    transform: rotate(270deg);
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn #swapItemsArrowTwo {
    transform: rotate(90deg);
}

#homeContentContainer #mapContainer {
    background-color: #f7f7f752;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    border: 2px solid #41a742;
    width: 360px;
    height: 464px;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
    border-radius: 7px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay {
    position: relative;
    transform-origin: 50% 50%;
    margin-left: -306px;
    margin-top: -188px;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 810px;
    transform: scale(.9);
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay,
#gameLayer #gameSectionsParent #tableauSection.expanded .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay {
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection.expanded:not(.expandAnimation) .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay {
    transition: all .2s ease-in-out;
}

#homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer {
    height: 166px;
    width: 105px;
    margin: 1px;
    float: left;
    position: relative;
}

#homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .cardContainer,
#homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .backOfCardContainer {
    position: relative;
    height: 164px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace {
    width: 105px;
    height: 191px;
    transform: scale(1);
    position: absolute;
    top: -5px;
    left: 16px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace #chosenCardBackground {
    position: absolute;
    max-width: 105%;
    width: 104%;
    left: -2px;
    top: 27px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace #chosenCardBackground {
    top: 3px;
    width: 96%;
    left: 1px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace {
    top: 6px;
    left: 28px;
    transform: scale(.97);
    height: 166px;
}

#homeContentContainer #playerInfoContainer #cardToPlace > .flip-plant,
#homeContentContainer #playerInfoContainer #cardToPlace > .cardContainer {
    transform: scale(1);
}

#homeContentContainer #playerInfoContainer #cardToPlace #cardToPlaceTitle {
    font-style: italic;
    margin: 0px 0px 7px 0px;
    font-weight: bold;
}

#homeContentContainer #playerInfoContainer #cardToPlace .flip-plant {
    top: 0px;
    right: 0px;
    transition: right 1.8s ease-in-out, top 1.8s ease-in-out;
    overflow: hidden;
}

#homeContentContainer #playerInfoContainer #cardToPlace .flip-plant.startingPos {
    right: -150px;
    top: -270px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer .itemContainer {
    width: 101px;
    position: absolute;
    left: 18px;
    transform: scale(1);
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #chosenItemContainer {
    top: 203px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #storedItemContainer {
    top: 352px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer .itemContainer {
    top: 166px!important;
    transform: scale(.7);
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #chosenItemContainer {
    left: 2px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #storedItemContainer {
    left: 56px;
}


#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer .itemContainer .itemBackground {
    width: 66%;
    display: block;
    margin: 0px auto 0px;
    transition: all .7s ease-in-out;
}

#homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room {
    top: 0px;
    left: 0px;
    transition: left 1.8s ease-in-out, top 1.8s ease-in-out;
}

#homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room.startingPos {
    top: -510px;
    left: -110px;
}

#homeContentContainer #mapContainer .zoomOptions,
#homeContentContainer #mapContainer .mapNavigation,
#homeContentContainer #mapContainer #placedTileOptions {
    display:none;
}


#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent {
    padding-top: 0px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer {
    width: 100%;
    height: 236px;
    margin: 0 auto;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer {
    width: 335px;
    height: 221px;
    top: 5px;
    right: 6px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay {
    transform-origin: 50% 50%;
    top: 0px;
    left: 0px;
    margin-left: -321px;
    margin-top: -303px;
    width: 980px;
    height: 810px;
    transform: scale(.43);
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer {
    height: 166px;
    width: 105px;
    margin: 1px;
    float: left;
    position: relative;
}


#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls {
    position: absolute;
    top: 7px;
    right: 262px;
    width: 91px;
    height: 42px;
    opacity: 1;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapZoomControls {
    right: 243px;
    opacity: 0;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomIcon {
    position: absolute;
    top: 0px;
    width: 39px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomIcon.inactiveZoom {
    opacity: .4;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomIcon.activeZoom {
    cursor:hand;
    cursor:pointer;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomOutIcon {
    left: 0px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomInIcon {
    left: 50px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls {
    position: absolute;
    bottom: 100px;
    right: 0px;
    width: 100px;
    opacity: 1;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapNavControls {
    bottom: 110px;
    right: 10px;
    opacity: 0;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #mapNavBackground {
    position: absolute;
    top: 0px;
    right: 0px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls .arrowImg {
    position: absolute;
    top: 9px;
    right: 31px;
    width: 34px;
    cursor:hand;
    cursor:pointer;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #upArrow.arrowImg {
    transform: rotate(270deg);
    top: 9px;
    right: 32px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #rightArrow.arrowImg {
    transform: rotate(0deg);
    top: 39px;
    right: 3px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #downArrow.arrowImg {
    transform: rotate(90deg);
    top: 67px;
    right: 35px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #leftArrow.arrowImg {
    transform: rotate(180deg);
    top: 36px;
    right: 62px;
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #upArrow.arrowImg.activeArrow {    
	-webkit-transform: rotate(270deg) translateX(2px);
	transform: rotate(270deg) translateX(2px);
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #rightArrow.arrowImg.activeArrow {    
	-webkit-transform: rotate(0deg) translateX(2px);
	transform: rotate(0deg) translateX(2px);
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #downArrow.arrowImg.activeArrow {    
	-webkit-transform: rotate(90deg) translateX(2px);
	transform: rotate(90deg) translateX(2px);
}

#gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #leftArrow.arrowImg.activeArrow {    
	-webkit-transform: rotate(180deg) translateX(2px);
	transform: rotate(180deg) translateX(2px);
}

.clear {
    clear:both;
}

@media screen and (max-width: 539px) {

    html.hydrated {	
        overflow-y: scroll!important;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBg {
        opacity: 0.6;
        position: absolute;
        top: -2%;
        left: -2%;
        width: 107%;
        max-width: 107%;
        z-index: -9;
        border-radius: 3vw;
    }

    p {
        line-height: 4.3vw;
    }

    #gameLayer #topInfoBar {
        width: 74vw;
        border: .1vw solid #BBB;
        margin: 0vw auto 2.5vw;
        padding: 1vw 0vw;
        border-radius: 1.2vw;
    }

    #gameLayer #topInfoBar .infoBarColumn {
        width: 33vw;
        margin: .3vw 0vw;
    }
    
    #container #setupLayer {
        height: 211vw;
    }

    .layer {
        top: 20.3vw;
    }

    #mainVerdantTitle {
        margin: 3vw 0vw 0vw;
    }

    #mainVerdantTitle img {
        width: 48vw;
    }

    #setupLayer .subtitle {
        width: 92vw;
        margin: 0vw auto 0vw;
        font-size: 3.8vw;
        line-height: 5vw;
    }
    
    #homepageButtonContainer {
        margin: 4vw auto 6vw;
        width: 75vw;
    }

    #homepageButtonContainer .button {
        margin: 0vw 2vw;
        width: 33vw;
        font-size: 4vw;
    }

    #demoDisclaimer {
        width: 93%;
    }

    #demoDisclaimer .message-body {
        padding: 5vw 7vw 2vw 6vw;
        border-radius: 1vw;
        border-width: 0vw 0vw 0vw 1vw;
    }

    #demoDisclaimer .message-body p {
        font-size: 3.9vw;
        line-height: 5.3vw;
        margin-bottom: 3vw;
    }

    #gameLayer #gameSectionsParent #marketSection {
        top: 0vw;
    }

    #gameLayer #gameSectionsParent {
        width: 97%;
    }

    #gameLayer #gameSectionsParent .gameSection {
        height: 103vw;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionContent {
        padding-top: 1.8vw;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBorder.innerBorder {
        border: .3vw solid #41a742;
    }

    #gameLayer #gameSectionsParent #marketSection.minimized {
        height: 41.2vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized {
        height: 47vw;
    }

    #gameLayer #gameSectionsParent .gameSection.minimized .inactive {
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.01;
        position: absolute;
        z-index: 999;
    }

    #gameLayer #gameSectionsParent .gameSection .inactive ion-icon[name="expand"] {
        display:none!important;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBorder {
        border-radius: 2vw;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBorder.outerBorder {
        border: .1vw solid #41a742;
        padding: .2vw;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBorder.innerBorder {
        border: .5vw solid #41a742;
    }

    #marketSection #marketTitleContainer.titleContainer,
    #tableauSection #playerTableauTitleContainer.titleContainer {
        height: 6.2vw;
        border-bottom: .2vw solid #003823;
    }

    #marketSection #marketTitleContainer.titleContainer {
        width: 17vw;
        margin: 0vw auto 3.2vw;
    }

    #tableauSection #playerTableauTitleContainer.titleContainer {
        width: 15vw;
        margin: 0vw auto 2.6vw;
    }

    #marketSection #marketTitle,
    #tableauSection #playerTableauTitle {
        font-size: 4.8vw;
    }

    #marketSection #marketCardColumns .plantPotContainer.startingPos {
        left: -98vw;
    }

    #marketSection #marketCardColumns .marketColumn .itemToken.startingPos {
        left: -98vw;
    }

    .flip-card.flip-back.flip-plant.startingPos {
        left: -98vw;
    }
    
    .flip-card.flip-back.flip-room.startingPos {
        left: -98vw;
    }

    #homeContentContainer #playerInfoContainer #cardToPlace .flip-plant {
        top: 0vw;
        right: 0vw;
    }
    
    #homeContentContainer #playerInfoContainer #cardToPlace .flip-plant.startingPos {
        right: -29.5vw;
        top: -53vw;
    }
    
    #homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room {
        top: 0vw;
        left: 0vw;
    }
    
    #homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room.startingPos {
        top: -93vw;
        left: -21vw;
    }

    #marketSection #marketCardColumns {
        padding: 0vw 0vw 0vw 1vw;
    }

    #marketSection #marketCardColumns .marketColumn {
        width: 20.9vw;
        margin: 0vw 0vw 0vw 2.5vw;
    }

    #marketSection #marketCardColumns .plantPotContainer {
        width: 10.3vw;
        height: 9.1vw;
    }

    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"],
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant,
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant .backOfCardContainer {
        height: 32.7vw;
    }

    .cardContainer[type="plant"] .plantBanner {
        left: .9vw;
        width: 4vw;
        height: 7.3vw;
    }

    .cardContainer[type="plant"] .plantSymbol {
        top: 1.3vw;
        left: 1.4vw;
        width: 3.1vw;
    }

    .cardContainer[type="plant"] .plantVerdancy {
        top: .5vw;
        right: 1.1vw;
        width: 3.9vw;
    }

    .cardContainer[type="plant"] .plantVPs {
        top: 3.9vw;
        right: .6vw;
        width: 3.45vw;
    }

    .cardContainer[type="plant"] .lightingIcon {
        top: .2vw;
        width: 2.6vw;
    }

    .cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
        left: 9.25vw;
    }

    .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
        left: 7.8vw;
    }

    .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
        left: 10.7vw;
    }

    .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
        left: 6.5vw;
    }

    .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
        left: 9.3vw;
    }

    .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
        left: 11.9vw;
    }

    #marketSection #marketCardColumns .marketColumn .itemToken {
        width: 8.6vw;
        margin: 1.5vw auto 1.5vw;
    }

    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"],
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room,
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room .backOfCardContainer {
        height: 32.9vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
        width: 4.55vw;
        height: 4vw;
        top: 0vw;
        left: 8.18vw;
        border-bottom-right-radius: 3.1vw;
        border-bottom-left-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
        width: 4vw;
        height: 4.65vw;
        top: 14vw;
        left: 16.9vw;
        border-top-left-radius: 3.1vw;
        border-bottom-left-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
        width: 4.55vw;
        height: 4vw;
        bottom: 0.1vw;
        left: 8.18vw;
        border-top-left-radius: 3.1vw;
        border-top-right-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
        width: 4vw;
        height: 4.65vw;
        top: 14vw;
        left: 0vw;
        border-top-right-radius: 3.1vw;
        border-bottom-right-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer .lightingIcon {
        width: 3.4vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
        margin-top: .1vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .7vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] .lightingIcon {
        margin-top: .67vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .45vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
        margin-top: .3vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .65vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] .lightingIcon {
        margin-top: .67vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .3vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
        top: 0.6vw;
        left: 8.18vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
        top: 4.9vw;
        left: 16.7vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
        bottom: -0vw;
        left: 8.18vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
        top: 4.9vw;
        left: 0.3vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer .lightingIcon {
        width: 3.4vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
        margin-top: .1vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
        margin-top: .6vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] .lightingIcon {
        margin-left: .2vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantBanner {
        left: .7vw;
        width: 5.2vw;
        height: 10.6vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantSymbol {
        top: 2.7vw;
        width: 4.1vw;
        left: 1.1vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVerdancy {
        top: .65vw;
        right: .2vw;
        width: 4.7vw;
    }
    
    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVPs {
        top: 6vw;
        width: 4.7vw;
        right: .4vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .lightingIcon {
        width: 3.5vw;
        left: 9vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
        top: 3.6vw;
        left: 9vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
        top: 1.9vw;
        left: 9vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
        top: 5.5vw;
        left: 9vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
        top: .8vw;
        left: 9vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
        top: 4.2vw;
        left: 9vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
        top: 7.5vw;
        left: 9vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] {
        height: 11.3vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] {
        height: 13vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .itemToken {
        width: 8.2vw;
    }

    .flip-card {
        height: 32.7vw;
    }

    .cardContainer,
    .flip-card {
        border-radius: 1.2vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.expanded {
        top: 43vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized {
        top: 104.5vw;
    }

    #homeContentContainer {
        height: 89vw;
    }

    #homeContentContainer #playerInfoContainer {
        width: 26vw;
        height: 88vw;
        margin-right: 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace {
        width: 20.9vw;
        height: 39vw;
        top: -2.7vw;
        left: 2vw;
        margin: 2vw auto;
    }

    .cardContainer,
    .backOfCardContainer {
        height: 32.7vw;
    }

    #homeContentContainer #mapContainer {
        width: 68.1vw;
        height: 88vw;
        margin-right: 0vw;
        border: .4vw solid #41a742;
        right: 0vw;
        top: 0vw;
        border-radius: 2vw;
    }

    #homeContentContainer #mapContainer #mapHiddenOverlay {
        top: -37vw;
        left: -62.5vw;
        width: 195vw;
        height: 151vw;
    }

    #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer {
        height: 33.3vw;
        width: 20.9vw;
        margin: .1vw;
    }

    #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .cardContainer,
    #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .backOfCardContainer {
        height: 32.9vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace .playerInfoTitle {
        height: 4.6vw;
        margin: 0vw 0vw 1vw 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace #chosenCardBackground {
        left: -0.4vw;
        top: 5vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer .playerInfoTitle {
        font-size: 2.95vw;
        height: 4vw;
        margin: 0vw 0vw 1.1vw 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer .itemContainer {
        width: 18.9vw;
        left: 2.7vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #chosenItemContainer {
        top: 40vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn {
        top: 60vw;
        left: 3.2vw;
        height: 8vw;
        font-size: 2.5vw;
        line-height: 3.1vw;
        padding: 0vw 1vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn .swapItemsArrow {
        font-size: 5vw;
        margin: 0vw .3vw .1vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #playerInfoContainer #storedItemContainer {
        top: 69vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls {
        top: 1.5vw;
        right: 49vw;
        width: 17vw;
        height: 8vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomOutIcon {
        left: 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomIcon {
        top: 0vw;
        width: 7vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls {
        top: 1.5vw;
        right: 44vw;
        width: 22vw;
        height: 10vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomIcon {
        top: 0vw;
        width: 8vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomOutIcon {
        left: 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapZoomControls .zoomInIcon {
        left: 11vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls {
        bottom: 2vw;
        width: 22vw;
        height: 22vw;
        right: 1vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #mapNavBackground {
        top: 0vw;
        right: 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls .arrowImg {
        width: 7.5vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #upArrow.arrowImg {
        top: 1.5vw;
        right: 6.8vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #rightArrow.arrowImg {
        top: 7.9vw;
        right: 0.6vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #downArrow.arrowImg {
        top: 14.5vw;
        right: 7.3vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapNavControls #leftArrow.arrowImg {
        top: 7.6vw;
        right: 13.6vw;
    }

    #gameLayer #gameSectionsParent #tableauSection .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay {
        margin-left: -62vw;
        margin-top: -40vw;
        top: 0vw;
        left: 0vw;
        width: 192vw;
        height: 169vw;
        transform: scale(.9);
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer {
        width: 100%;
        height: 45vw;
        margin: 0 auto;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer {
        width: 27.5vw;
        height: 44vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace {
        top: 0vw;
        left: 3vw;
        height: 34.2vw;
        margin: 1vw auto 0vw;
        transform: scale(1);
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer .playerInfoTitle {
        height: 0vw!important;
        margin: 0vw 0vw 0vw 0vw!important;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer {
        width: 52vw;
        height: 42vw;
        top: 1vw;
        right: 1vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized {
        top: 104.5vw;
        height: 53vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer {
        height: 51vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer {
        width: 26.5vw;
        height: 50.5vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace {
        top: 2vw;
        left: 3vw;
        transform: scale(1.1);
        height: 33.2vw;
        width: 20.9vw;
        margin: 1vw auto 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #cardToPlace #chosenCardBackground {
        top: -.3vw;
        width: 103%;
        max-width: 103%;
        left: -0.3vw;
    }

    #homeContentContainer #playerInfoContainer #cardToPlace > .flip-plant,
    #homeContentContainer #playerInfoContainer #cardToPlace > .cardContainer {
        transform: scale(.97);
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer .itemContainer {
        transform: scale(.9);
        top: 38.7vw!important;
        width: 11.2vw;
        height: 11.7vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #chosenItemContainer {
        left: 1vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #storedItemContainer {
        left: 14vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer .itemContainer .itemBackground {
        width: 100%;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer .playerInfoTitle {
        height: 0vw!important;
        margin: 0vw 0vw 0vw 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer .itemContainer .itemBackground {
        margin: 0vw auto 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #playerInfoContainer #swapItemsBtn {
        height: 0vw;
        margin: 0vw 0vw 0vw 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer {
        width: 67vw;
        height: 49.2vw;
        top: .5vw;
        right: 1vw;
        margin-right: 0vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay {
        margin-left: -61.5vw;
        margin-top: -59vw;
        top: 0vw;
        left: 0vw;
        width: 192vw;
        height: 169vw;
        transform: scale(.43);
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer {
        height: 33.3vw;
        width: 20.9vw;
        margin: .1vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .gameSectionContent #homeContentContainer #mapZoomControls {
        right: 45vw;
        opacity: 0;
    }

}
