html {	
	overflow-y: auto!important;
	min-width: auto!important;
}

.minimized {
	user-select: none;
}

body {
    width: 100%;
    max-width: 539px;
    margin: 0 auto;
    line-height: 0;
}

p {
    line-height: 23px;
}

#gameLayer .title {
    font-family: 'DM Serif Display', serif;
    color: #003722!important;
    font-weight: 300;
}

.slideshow-block {
    overflow: hidden;
    width: 100%;
    height: 227px;
    margin: 15px auto 10px;
}

.slideshow-animation {
    width: auto;
    height: 100px;
    font-size: 0px;
}

.slideshow-animation div {
    display: inline-block;
    width: auto;
    float: none;
    padding: 0 20px;
}

#container {
    margin: 0 auto;
    position: relative;
}

#mainVerdantTitle {
    display: block;
    text-align: center;
    margin: 10px 0px 8px;
}

#mainVerdantTitle img {
    width: 240px;
    margin-bottom: 0px;
    margin-left: 13px;
}

#setupLayer .subtitle {
    font-style: italic;
    text-align: center;
    width: 440px;
    margin: 0px auto 15px;
    font-size: 16px;
    line-height: 22px;
}

#homepageButtonContainer {
    margin: 20px auto 27px;
    width: 320px;
}

#homepageButtonContainer .button {
    display: block;
    margin: 0px 10px;
    width: 140px;
}

#setupLayer {
    display: block;
}

.layer {
    display: none;
    position: absolute;
    top: 101px;
    width: 100%;
}

#demoDisclaimer {
    width: 93%;
    margin: 0px auto 0px;
}

#demoDisclaimer .message-body p {
    margin-bottom: 13px;
}

#backToStart {
    width: 120px;
    margin: 0 auto;
    display: block;
}

#gameLayer #gameSectionsParent {
    position: relative;
    margin: 0 auto;
    width: 95%;
}

#gameLayer #gameSectionsParent .gameSection {
    position:absolute;
    width: 100%;
    height: 530px;
    transition: all .7s ease-in-out;
}

#gameLayer #gameSectionsParent .gameSection.initSetup {
    overflow:hidden;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBorder {
    height: 100%;
    width: 100%;
    padding: 2.5px;
    border-radius: 3%;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBorder.outerBorder {
    border: 1px solid #41a742;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBorder.innerBorder {
    border: 2px solid #41a742;
    position: relative;
}

#gameLayer #gameSectionsParent .gameSection .bgOverlay {
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: -8;
    position: absolute;
    background-color: #ffffff;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionBg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9;
    border-radius: 3%;
}

#gameLayer #gameSectionsParent .gameSection .gameSectionContent {
    position: relative;
    padding-top: 5px;
}

#container.mobileView .inactive {
    display:none;
}

#container.wideScreenView #gameSectionsParent .gameSection.expanded .inactive {
    display:none;
}

#container.wideScreenView #gameSectionsParent .gameSection.minimized .inactive {
    background-color: #0f0f0ffa;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all .7s ease-in-out;
}

#container.wideScreenView #gameSectionsParent .gameSection.minimized:not(.initSetup):hover .inactive {
    cursor: hand;
    cursor: pointer;
    opacity: 0.5;
}

#container.wideScreenView #gameLayer #gameSectionsParent .gameSection.minimized .inactive ion-icon[name="expand"] {
    font-weight: bold;
    position: absolute;
    color: #FFF;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#container.wideScreenView #gameLayer #gameSectionsParent #marketSection.minimized .inactive ion-icon[name="expand"] {
    font-size: 65px;
    top: 71px;
    left: 224px;
}

#container.wideScreenView #gameLayer #gameSectionsParent #tableauSection.minimized .inactive ion-icon[name="expand"] {
    font-size: 135px;
    top: 185px;
    left: 190px;
}

#container.wideScreenView #gameLayer #gameSectionsParent .gameSection.minimized:not(.initSetup):hover .inactive ion-icon[name="expand"] {
    opacity: 1;
}

#gameLayer #gameSectionsParent #marketSection {
    top: 10px;
}

#gameLayer #gameSectionsParent #marketSection.minimized {
    height: 216px;
}

#gameLayer #gameSectionsParent #marketSection.minimized,
#gameLayer #gameSectionsParent #marketSection.expandAnimation {
    overflow: hidden;
}

#gameLayer #gameSectionsParent #tableauSection.expanded {
    transform: scale(1);
    top: 233px;
}

#gameLayer #gameSectionsParent #tableauSection.minimized {
    transform: scale(.4);
    top: 392px;
    z-index: -1;
}

#marketSection #marketTitle,
#tableauSection #playerTableauTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 1;
    height: 45px;
    transition: all .7s ease-in-out;
    font-size: 28px;
}

#marketSection.minimized #marketTitle {
    height: 0px;
    opacity:0;
}

#marketSection #marketCardColumns { 
    padding: 0px 20px;
}

#marketSection #marketCardColumns .marketColumn {
    width: 105px;
    float: left;
    margin: 0px 0px 0px 12px;
}

#marketSection #marketCardColumns .plantPotContainer {
    width: 55px;
    height: 49px;
    margin: 0px auto 0px;
    display: block;
    position: relative;
    left: 0px;
    opacity: 1;
    transition: left 1s ease-in-out, width .7s ease-in-out, height .7s ease-in-out, opacity .7s ease-in-out;
}

#marketSection #marketCardColumns .plantPotContainer.startingPos {
    left: -500px;
}

#marketSection.minimized #marketCardColumns .plantPotContainer {
    height: 0px;
    opacity: 0;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer {
    transform: scale(1);
    position:unset;
    z-index: 0;
    cursor:hand;
    cursor:pointer;
    transition: all .2s ease-in-out;
    opacity: 1;
}

/* #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer > * {
    box-shadow: 0px 0px 0px #FFF;
    transition: all .2s ease-in-out;
    opacity: 1;
}

#marketSection #marketCardColumns .marketColumn.activeColumn .cardsAndItemContainer > *  {
    box-shadow: 0px 5px 5px rgb(122, 122, 122);
} */

#marketSection #marketCardColumns .marketColumn.activeColumn .cardsAndItemContainer {
    transform: scale(1.6);
    position: relative;
    z-index: 2;
}

#marketSection #marketCardColumns .marketColumn.deactivedColumn .cardsAndItemContainer {
    transform: scale(1);
    position: relative;
    z-index: 2;
}

#marketSection #marketCardColumns.activeColumnView .marketColumn:not(.activeColumn) .cardsAndItemContainer {
    opacity: .5;
}

#marketSection #marketCardColumns .marketColumn:first-child {
    margin: 0px 0px 0px 0px;
}

.cardContainer,
.backOfCardContainer {
    position: relative;
    height: 164px;
    background-color: #f7efda;
    overflow: hidden;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .backOfCardContainer {
    left: 0px;
    transition: left 1s ease-in-out;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"],
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] {
    transition: height .7s ease-in-out;
}

#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"],
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant .backOfCardContainer,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"],
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room,
#marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room .backOfCardContainer {
    height: 164px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] {
    height: 60px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] {
    height: 70px;
}

.cardContainer[type="plant"] .plant {
    opacity: 1;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plant {
    opacity: .15;
}

.cardContainer[type="room"] .room,
.flip-room .roomBack {
    top: 0px;
    left: 0px;
    position: absolute;
}

.cardContainer[type="plant"] .lightingIcon {
    position: absolute;
    top: 2.5px;
    width: 11.5px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .lightingIcon {
    width: 18px;
}

.cardContainer[type="plant"] .plantBanner {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 19px;
    height: 36px;
    z-index: 0;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantBanner {
    left: 3px;
    width: 28px;
    height: 57.5px;
}

.cardContainer[type="plant"] .plantSymbol {
    position: absolute;
    top: 6.5px;
    left: 7.5px;
    width: 14.5px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantSymbol {
    top: 14px;
    width: 22px;
    left: 6px;
}

.cardContainer[type="plant"] .plantVerdancy {
    position: absolute;
    top: 3px;
    right: 6px;
    width: 18px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVerdancy {
    top: 3.5px;
    right: 1px;
    width: 25px;
}

.cardContainer[type="plant"] .plantVPs {
    position: absolute;
    top: 21px;
    right: 3px;
    width: 15px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVPs {
    top: 32px;
    width: 25px;
    right: 2px;
}

.cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
    left: 51px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
    left: 46px;
    top: 19px;
}

.cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
    left: 46px;
}

.cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
    left: 59px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
    left: 46px;
    top: 10px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
    left: 46px;
    top: 29px;
}

.cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
    left: 39px;
}

.cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
    left: 52px;
}

.cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
    left: 65px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
    left: 46px;
    top: 2.5px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
    left: 46px;
    top: 21.5px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
    left: 46px;
    top: 39.5px;
}

#marketSection #marketCardColumns .marketColumn .itemToken {
    width: 46px;
    margin: 9.5px auto 7.5px;
    position:relative;
    left: 0px;
    display: block;
    transition: left 1s ease-in-out, width .7s ease-in-out, margin .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .itemToken {
    width: 39px;
}

#marketSection #marketCardColumns .marketColumn .itemToken.startingPos {
    left: -500px;
}

.cardContainer[type="room"] .lightingIconContainer {
    position: absolute;
    width: 23.5px;
    height: 23.5px;
    background-color: transparent;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer {
    background-color: #f7efda;
}

.cardContainer[type="room"] .lightingIconContainer .lightingIcon {
    width: 15.7px;
    margin: 3.3px;
    transition: all .7s ease-in-out;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer .lightingIcon {
    width: 17px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
    top: -2px;
    left: 41px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
    top: 0px;
    left: 41px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
    margin-top: 4.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 3px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
    margin-top: 3px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
    margin-top: 4.3px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
    top: 71.2px;
    left: 85px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
    top: 26px;
    left: 82px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] .lightingIcon {
    margin-top: 3.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 3.3px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
    bottom: -2px;
    left: 40.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
    bottom: -2px;
    left: 40.5px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
    margin-top: 2.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 4px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
    top: 71.2px;
    left: -3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] .lightingIcon {
    margin-top: 3.3px;
    margin-right: 3.3px;
    margin-bottom: 3.3px;
    margin-left: 3.3px;
}

#marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
    top: 25.2px;
    left: 0px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card.flip-back.flip-plant {
    position:relative;
    left: 0px;
    transition: left 1s ease-in-out;
}

.flip-card.flip-back.flip-plant.startingPos {
    left: -500px;
}

.flip-card.flip-back.flip-room {
    position:relative;
    left: 0px;
    transition: left 1s ease-in-out;
}

.flip-card.flip-back.flip-room.startingPos {
    left: -500px;
}

.flip-card {
    display:block;
    background-color: transparent;
    height: 164px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 0 auto;
    overflow: hidden;
}

.cardContainer,
.flip-card {
    border-radius: 9px;
    overflow: hidden;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    overflow: visible !important;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    box-shadow: 0px 0px 10px #AAA;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    z-index: 0;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg) translate3d(0, 0, 1px);
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 1px);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 1px);
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#homeContentContainer {
    border: 1px solid green;
    width: 98%;
    height: 460px;
    margin: 0 auto;
}

#homeContentContainer #playerInfoContainer {
    border: 1px solid red;
    width: 130px;
    height: 460px;
    float: left;
    margin-right: 12px;
}

#homeContentContainer #mapContainer {
    border: 1px solid blue;
    width: 330px;
    height: 460px;
    float: left;
    margin-right: 0px;
    overflow: hidden;
}

#homeContentContainer #mapContainer #mapHiddenOverlay {
    position: relative;
    top: -166px;
    left: -319px;
    width: 980px;
    height: 810px;
    transform: scale(.85);
}

#homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer {
    height: 164px;
    width: 105px;
    margin: 1px;
    float: left;
    position: relative;
}

#homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .cardContainer,
#homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .backOfCardContainer {
    position: relative;
    height: 164px;
}

#homeContentContainer #playerInfoContainer #cardToPlace {
    width: 105px;
    margin: 10px auto;
}

#homeContentContainer #playerInfoContainer #cardToPlace .flip-plant {
    top: 0px;
    right: 0px;
    transition: right 2s ease-in-out, top 2s ease-in-out;
    overflow: hidden;
}

#homeContentContainer #playerInfoContainer #cardToPlace .flip-plant.startingPos {
    right: -150px;
    top: -270px;
}

#homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room {
    top: 0px;
    left: 0px;
    transition: left 2s ease-in-out, top 2s ease-in-out;
}

#homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room.startingPos {
    top: -510px;
    left: -110px;
}

#homeContentContainer #mapContainer .zoomOptions,
#homeContentContainer #mapContainer .mapNavigation,
#homeContentContainer #mapContainer #placedTileOptions {
    display:none;
}

@media screen and (max-width: 539px) {

    #container #setupLayer {
        height: 211vw;
    }

    .layer {
        top: 20.3vw;
    }

    #mainVerdantTitle {
        margin: 3vw 0vw 0vw;
    }

    #mainVerdantTitle img {
        width: 48vw;
    }

    #setupLayer .subtitle {
        width: 92vw;
        margin: 0vw auto 0vw;
        font-size: 3.8vw;
        line-height: 5vw;
    }
    
    #homepageButtonContainer {
        margin: 4vw auto 6vw;
        width: 75vw;
    }

    #homepageButtonContainer .button {
        margin: 0vw 2vw;
        width: 33vw;
        font-size: 4vw;
    }

    #demoDisclaimer {
        width: 93%;
    }

    #demoDisclaimer .message-body {
        padding: 5vw 7vw 2vw 6vw;
        border-radius: 1vw;
        border-width: 0vw 0vw 0vw 1vw;
    }

    #demoDisclaimer .message-body p {
        font-size: 3.9vw;
        line-height: 5.3vw;
        margin-bottom: 3vw;
    }

    #gameLayer #gameSectionsParent #marketSection {
        top: 0vw;
    }

    #gameLayer #gameSectionsParent {
        width: 97%;
    }

    #gameLayer #gameSectionsParent .gameSection {
        height: 103vw;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBg {
        max-width: 105%;
        width: 100%;
        height: 102vw!important;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionContent {
        padding-top: .8vw;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBorder.innerBorder {
        border: .3vw solid #41a742;
    }

    #gameLayer #gameSectionsParent #marketSection.minimized {
        height: 40vw;
    }

    #gameLayer #gameSectionsParent #marketSection.minimized .inactive ion-icon[name="expand"] {
        font-size: 12vw;
        top: 13vw;
        left: 41.5vw;
    }

    #gameLayer #gameSectionsParent .gameSection .gameSectionBorder {
        padding: .4vw;
        border-radius: 2vw;
    }

    #marketSection #marketTitle, #tableauSection #playerTableauTitle {
        height: 8.3vw;
        font-size: 5.2vw;
    }

    #marketSection #marketCardColumns .plantPotContainer.startingPos {
        left: -98vw;
    }

    /* #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer.startingPos {
        left: -98vw;
    } */

    #marketSection #marketCardColumns .marketColumn .itemToken.startingPos {
        left: -98vw;
    }

    .flip-card.flip-back.flip-plant.startingPos {
        left: -98vw;
    }
    
    .flip-card.flip-back.flip-room.startingPos {
        left: -98vw;
    }

    #homeContentContainer #playerInfoContainer #cardToPlace .flip-plant {
        top: 0vw;
        right: 0vw;
    }
    
    #homeContentContainer #playerInfoContainer #cardToPlace .flip-plant.startingPos {
        right: -29.5vw;
        top: -53vw;
    }
    
    #homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room {
        top: 0vw;
        left: 0vw;
    }
    
    #homeContentContainer #mapContainer #mapHiddenOverlay #row-2-column-4 .flip-room.startingPos {
        top: -93vw;
        left: -21vw;
    }

    #marketSection #marketCardColumns {
        padding: 0vw 0vw 0vw 1vw;
    }

    #marketSection #marketCardColumns .marketColumn {
        width: 20.9vw;
        margin: 0vw 0vw 0vw 2.5vw;
    }

    #marketSection #marketCardColumns .plantPotContainer {
        width: 10.3vw;
        height: 9.1vw;
    }

    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"],
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant,
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-plant .backOfCardContainer {
        height: 32.7vw;
    }

    .cardContainer[type="plant"] .plantBanner {
        left: .9vw;
        width: 3.5vw;
        height: 6.6vw;
    }

    .cardContainer[type="plant"] .plantSymbol {
        top: 1.3vw;
        left: 1.4vw;
        width: 2.7vw;
    }

    .cardContainer[type="plant"] .plantVerdancy {
        top: .5vw;
        right: 1.1vw;
        width: 3.3vw;
    }

    .cardContainer[type="plant"] .plantVPs {
        top: 3.8vw;
        right: .6vw;
        width: 2.85vw;
    }

    .cardContainer[type="plant"] .lightingIcon {
        top: .2vw;
        width: 2.6vw;
    }

    .cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
        left: 9.6vw;
    }

    .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
        left: 7.8vw;
    }

    .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
        left: 10.7vw;
    }

    .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
        left: 6.5vw;
    }

    .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
        left: 9.3vw;
    }

    .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
        left: 11.9vw;
    }

    #marketSection #marketCardColumns .marketColumn .itemToken {
        width: 8.6vw;
        margin: 2vw auto 1.5vw;
    }

    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"],
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room,
    #marketSection #marketCardColumns .marketColumn .cardsAndItemContainer .flip-room .backOfCardContainer {
        height: 32.9vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
        width: 4.55vw;
        height: 4vw;
        top: 0vw;
        left: 8.18vw;
        border-bottom-right-radius: 3.1vw;
        border-bottom-left-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
        width: 4vw;
        height: 4.65vw;
        top: 14vw;
        left: 16.9vw;
        border-top-left-radius: 3.1vw;
        border-bottom-left-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
        width: 4.55vw;
        height: 4vw;
        bottom: 0.1vw;
        left: 8.18vw;
        border-top-left-radius: 3.1vw;
        border-top-right-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
        width: 4vw;
        height: 4.65vw;
        top: 14vw;
        left: 0vw;
        border-top-right-radius: 3.1vw;
        border-bottom-right-radius: 3.1vw;
    }

    .cardContainer[type="room"] .lightingIconContainer .lightingIcon {
        width: 3.4vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
        margin-top: .1vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .7vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] .lightingIcon {
        margin-top: .67vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .45vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
        margin-top: .3vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .65vw;
    }

    .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] .lightingIcon {
        margin-top: .67vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
        margin-left: .3vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] {
        top: 0.6vw;
        left: 8.18vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] {
        top: 4.9vw;
        left: 16.7vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] {
        bottom: -0vw;
        left: 8.18vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] {
        top: 4.9vw;
        left: 0.3vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer .lightingIcon {
        width: 3.4vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="0"] .lightingIcon {
        margin-top: .1vw;
    }

    /* #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="1"] .lightingIcon {

    } */

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="2"] .lightingIcon {
        margin-top: .6vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] .lightingIconContainer[lighting-container="3"] .lightingIcon {
        margin-left: .2vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantBanner {
        left: .7vw;
        width: 5.2vw;
        height: 10.6vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantSymbol {
        top: 2.7vw;
        width: 4.1vw;
        left: 1.1vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVerdancy {
        top: .65vw;
        right: .2vw;
        width: 4.7vw;
    }
    
    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .plantVPs {
        top: 6vw;
        width: 4.7vw;
        right: .4vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] .lightingIcon {
        width: 3.5vw;
        left: 8.55vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="1"] .lightingIcon[lighting-icon="0"] {
        top: 3.6vw;
        left: 8.55vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="0"] {
        top: 1.9vw;
        left: 8.55vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="2"] .lightingIcon[lighting-icon="1"] {
        top: 5.5vw;
        left: 8.55vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="0"] {
        top: .8vw;
        left: 8.55vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="1"] {
        top: 4.2vw;
        left: 8.55vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"][lighting="3"] .lightingIcon[lighting-icon="2"] {
        top: 7.5vw;
        left: 8.55vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="plant"] {
        height: 11.3vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .cardsAndItemContainer .cardContainer[type="room"] {
        height: 13vw;
    }

    #marketSection.minimized #marketCardColumns .marketColumn .itemToken {
        width: 7.2vw;
    }

    .flip-card {
        height: 32.7vw;
    }

    .cardContainer,
    .flip-card {
        border-radius: 1.7vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.expanded {
        top: 43vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized {
        top: 74vw;
    }

    #gameLayer #gameSectionsParent #tableauSection.minimized .inactive ion-icon[name="expand"] {
        font-size: 29vw;
        top: 38vw;
        left: 34vw;
    }

    #homeContentContainer {
        border: .1vw solid green;
        height: 89vw;
    }

    #homeContentContainer #playerInfoContainer {
        width: 24vw;
        height: 88vw;
        margin-right: 2.2vw;
    }

    #homeContentContainer #playerInfoContainer #cardToPlace {
        width: 20.9vw;
        margin: 2vw auto;
    }

    .cardContainer,
    .backOfCardContainer {
        height: 32.7vw;
    }

    #homeContentContainer #mapContainer {
        border: .1vw solid blue;
        width: 63vw;
        height: 88vw;
        margin-right: 0vw;
    }

    #homeContentContainer #mapContainer #mapHiddenOverlay {
        top: -39vw;
        left: -64.5vw;
        width: 195vw;
        height: 151vw;
    }

    #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer {
        height: 32.9vw;
        width: 20.9vw;
        margin: .1vw;
    }

    #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .cardContainer,
    #homeContentContainer #mapContainer #mapHiddenOverlay .mapTileContainer .backOfCardContainer {
        height: 32.9vw;
    }

}
