html {	
	overflow-y: auto!important;
	min-width: auto!important;
}

/* * {
	user-select: none;
} */

.slideshow-block {
    overflow: hidden;
    width: 100%;
    height: 227px;
    margin: 30px auto;
}

.slideshow-animation {
    width: auto;
    height: 100px;
    font-size: 0px;
}

.slideshow-animation div {
    display: inline-block;
    width: auto;
    float: none;
    padding: 0 20px;
}

#container {
    width: 1180px;
    margin: 0 auto;
}

#mainVerdantTitle {
    display: block;
    text-align: center;
    margin: 20px 0px 18px;
}

#mainVerdantTitle img {
    width: 360px;
    margin-bottom: 0px;
    margin-left: 13px;
}

#setupLayer .subtitle {
    font-style: italic;
    text-align: center;
    width: 440px;
    margin: 0px auto 15px;
    font-size: 16px;
    line-height: 22px;
}

#homepageButtonContainer {
    margin: 30px auto 20px;
    width: 360px;
}

#homepageButtonContainer .button {
    display:block;
    margin: 0px 10px;
    width: 160px;
}

#setupLayer {
    display: block;
}

.layer {
    display: none;
}

.frontPageEl {
    width: 50%;
    margin: 40px auto 0px;
}

#backToStart {
    width: 120px;
    margin: 0 auto;
    display: block;
}
